In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# Configuração do servidor e banco de dados
server = "SAMPAIO"
database = "DESENVOLVIMENTO"

# Criando a engine de conexão com Windows Authentication
engine = create_engine(
    f"mssql+pyodbc://@{server}/{database}?trusted_connection=yes&driver=ODBC+Driver+17+for+SQL+Server".replace(" ", "+")
)

In [3]:
# Definir a consulta SQL
query = "SELECT * FROM [FILMES].[dbo].[FILME]"

In [4]:
# Carregar os dados diretamente para um DataFrame Pandas
df = pd.read_sql(query, engine)

In [5]:
# Exibir os primeiros registros
print(df.head())

   ID_FILME   NOME_TITULO  ID_GENERO
0         1  Rede de ódio          3
1         2          1917          5
2         3      Ad Astra          4
3         4       Coringa          4
4         5    Dois Papas          3

In [6]:
df.head(10)

   ID_FILME                     NOME_TITULO  ID_GENERO
0         1                    Rede de ódio          3
1         2                            1917          5
2         3                        Ad Astra          4
3         4                         Coringa          4
4         5                      Dois Papas          3
5         6                 Ford vs Ferrari          2
6         7                           Klaus          1
7         8                      O Irlandês          3
8         9                        Parasita          3
9        10  Retrato de uma Jovem em Chamas          3

In [7]:
df.count()

ID_FILME       46
NOME_TITULO    46
ID_GENERO      46
dtype: int64

In [8]:
df.describe()

        ID_FILME  ID_GENERO
count  46.000000  46.000000
mean   23.500000   3.586957
std    13.422618   1.808327
min     1.000000   1.000000
25%    12.250000   3.000000
50%    23.500000   3.000000
75%    34.750000   4.000000
max    46.000000   8.000000

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46 entries, 0 to 45
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID_FILME     46 non-null     int64
 1   NOME_TITULO  46 non-null     object
 2   ID_GENERO    46 non-null     int64
dtypes: int64(2), object(1)
memory usage: 1.2+ KB

In [10]:
print(df.columns)

Index(['ID_FILME', 'NOME_TITULO', 'ID_GENERO'], dtype='object')

In [12]:
df.count()

ID_FILME       46
NOME_TITULO    46
ID_GENERO      46
dtype: int64

In [13]:
df.isnull().sum()

ID_FILME       0
NOME_TITULO    0
ID_GENERO      0
dtype: int64